html {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    margin: 0px;
}
#NavBar {
    background-color: #1f1f1f;
    width: 100%;
    overflow: auto;
    margin-top: 0px;
}
h2 {
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;    
}
#NavLinks {
    float: right;
    margin: 0 auto;
}
a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
#Website {
    padding: 14px 16px;
}
a:hover {
    background-color: #363535;
}
#JavaCalculator, #PokemonGame {
    background-color: white;
    width: 300px;
    overflow: auto;
    margin-left: 150px;
    margin-top: 20px;
    vertical-align: top;
}
#IPBanProject {
    background-color: white;
    width: 600px;
    overflow: auto;
    margin-left: 150px;
    margin-top: 20px;
    vertical-align: top;
}
img {
    width: 100%;
    height: 120px;
}
h3 {
    margin: 10px;
    text-align: center;
    color: #f3767c;
}
#PurposeIP, #NoteIP, #IPBanningProject {
    color: #b10000;
}
#PokemonGameHeader, #NotePokemon, #PurposePokemon {
    color: #cfc11b;
}
#Calculator {
    background-color: #f3767c;
    display: flex;
    justify-content: center;
}
#IPBan {
    background-color: #b10000;
    display: flex;
    justify-content: center;
}
#Pokemon {
    background-color: #cfc11b;
    display: flex;
    justify-content: center;
}
div{
    display: inline-block;
}
