html {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    margin: 0px;
}
#NavBar {
    background-color: #1f1f1f;
    width: 100%;
    overflow: auto;
    margin-top: 0px;
}
h2 {
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;    
}
#NavLinks {
    float: right;
    margin: 0 auto;
}
a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
#Website {
    padding: 14px 16px;
}
#Board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    font-size: 0;
}
button { 
    height: 100px;
    width: 100px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
    font-size: 30px;
    vertical-align: top;
}
#One {
    border-left-width: 0px;
    border-top-width: 0px;
}
#Two {
    border-top-width: 0px;
}
#Three {
    border-top-width: 0px;
    border-right-width: 0px;
}
#Four {
    border-left-width: 0px;
}
#Six {
    border-right-width: 0px;
}
#Seven {
    border-left-width: 0px;
    border-bottom-width: 0px;
}
#Eight {
    border-bottom-width: 0px;
}
#Nine {
    border-bottom-width: 0px;
    border-right-width: 0px;
}
#Restart {
    margin-left: 75px;
    width: 150px;
    height: 60px;
    margin-top: 30px;
    background-color: #aa42f5;
}